body {
    font-family: Arial, sans-serif;
    font-size: 19px;
    background-color: #feeed6;
    color: #676565;
    margin: 6px 12px 0 12px;
    max-width: 826px;
}

.course_name p {
    margin: 0;
    font-size: 31px;
    line-height: 1.12;
}

.cross_out_text {
    text-decoration: line-through;
}

.course_information {
    margin: -4px 0 0 0;
}

.course_information span {
    float: left;
    font-weight: bold;
    color: #378DB2;
}

.course_information p {
    margin: 10px auto 10px 0;
    text-indent: 5px;
    text-align: justify;
}

.course_information p + p {
    margin: 12px auto 12px 0;
}

.last_item {
    margin: 5px 0 0 0;
}

.last_item + p {
    margin: 45px 0 0 0;
}

.last_item ~ p {
    font-size: 16px;
    text-indent: 18px;
    line-height: 1.5;
}