body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0 auto;
    color: #676565;
    max-width: 844px;
}

.header {
    font-size: 32px;
    font-weight: normal;
    letter-spacing: 1px;
    padding-left: 22px;
    margin: 26px 0 4px 0;
    background-color: #FFF;
}

.set_text_field {
    text-indent: 14px;
    width: 100%;
    border: none;
}

.set_text_field:-moz-placeholder {
    font-family: Tahoma, sans-serif;
    color: #999;
}

.set_text_field::-webkit-input-placeholder {
    font-family: Tahoma, sans-serif;
    color: #999;
}

.form_order {
    font-weight: bold;
    background-color: #feeed6;
    padding: 18px 20px 16px 22px;
}

.form_order input {
    height: 37px;
    margin: 8px 0 20px 0;
}

.form_order textarea {
    resize: vertical;
    height: 121px;
    padding: 8px 0 0 0;
    margin: 8px 0 16px 0;
}

.last_string {
    font-weight: normal;
    color: #737373;
}

.form_order button {
    display: block;
    font-weight: bold;
    border: none;
    width: 171px;
    height: 37px;
    margin: 12px 0 0 auto;
    background-color: #378DB2;
    color: #FFF;
}

button:hover {
    background-color: #479DC2;
    cursor: pointer;
}