body {
    font-family: arial, sans-serif;
    color: #0019FF;
}

.todo_list {
    width: 50%;
    min-width: 400px;
    margin: 20px auto;
    padding: 20px 20px;
    background-color: #77C2FF;
    text-align: center;
}

.input_record {
    display: inline-block;
    margin: auto;
    width: auto;
    text-align: left;
}

.input_record span {
    display: block;
    padding-bottom: 5px;
}

.input_record label {
    display: inline-block;
}

.input_record input {
    width: 200px;
    color: #0019FF;
    padding: 5px 0;
    background-color: #D1EBFF;
}

.add_record button {
    border: none;
    width: 150px;
    color: #1C5B1C;
    background-color: #90ee90;
    padding: 5px 0;
    border-radius: 15px;
}

.display_record button {
    width: 100px;
    border: none;
    margin: 0 25px;
    color: #54450A;
    background-color: #DBBB2B;
    border-radius: 10px;
}

.display_record table {
    display: inline-block;
    max-height: 210px;
    margin: 30px auto 0;
}

.display_record td:first-child {
    width: 200px;
    word-break: break-all;
}