body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: normal;
    margin: 12px;
}

.table {
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}

.table th, td {
    padding: 14px 10px;
    border: 1px solid #CCC;
}

.table th {
    background-color: #3498DB;
    color: #FFF;
}

.table tr:nth-last-of-type(odd) {
    background-color: #EEE;
}