body {
    font-family: SansSerif, Arial, serif;
    font-size: 20px;
    line-height: normal;
    margin: 12px;
}

table {
    text-align: left;
    width: 100%;
    text-indent: 10px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #CCC;
    height: 50px;
}

th {
    background-color: #3498DB;
    color: white;
}

tr:nth-last-of-type(odd) {
    background-color: #EEE;
}